In [30]:
class Employee:
   
    def __init__(self,id, name,b_salary,sales,department,designation,h_rent,medical,commission):
        self.id = id
        self.name = name
        self.b_salary = b_salary
        self.sales=sales
        self.department=department
        self.designation =designation
        self.h_rent=h_rent
        self.medical=medical
        self.commission=commission
        
    def calculatecomission(self):
        return self.commission*self.sales    
    
    def displayEmp(self):
        print("ID: "+" "+str(self.id)+"\n"+
              "Name: "+" "+str(self.name)+"\n"+ 
              "Department: "+" "+str(self.department)+"\n"+
              "Designation: " + " "+ str(self.designation)+"\n"+
              "Basic: "+str(self.b_salary)+"\n"
              +"Sales: "+" "+str(self.sales)+"\n"+
              "Houserent: "+str(self.h_rent)+"\n"+ 
              "Medical: "+" "+str(self.medical)+"\n"+
              "Commission: "+" "+str(self.commission*self.sales)+"\n\n")
     
    
        
emp = Employee(1001,"Faisal",10000,25000,"Sales","Executive",5000,500,.2)
emp1= Employee(1002,"Shawon",20000,15000,"Sales","Executive",10000,1000,.3)
emp.displayEmp()
emp1.displayEmp()

ID:  1001
Name:  Faisal
Department:  Sales
Designation:  Executive
Basic: 10000
Sales:  25000
Houserent: 5000
Medical:  500
Commission:  5000.0


ID:  1002
Name:  Shawon
Department:  Sales
Designation:  Executive
Basic: 20000
Sales:  15000
Houserent: 10000
Medical:  1000
Commission:  4500.0