# data type:

In [1]:
x = 5;
print(x)

5

In [ ]:
x = 4.3
print(x,type(x))

In [5]:
a="char"
print(a,type(a))

char <class 'str'>

# if-else program:

In [1]:
x = 5
y =6
if x > y:
    print(x)
else:
    print(y)

6

# prints product of two number

In [2]:
x = 1
y=2
z=x*y
print(z)

2

# prints modulus of two number

In [4]:
x = 7
y = 6
z= x%y
print(z)

1

# Displays addition between two number

In [11]:
num_int = 123 
num_flo = 1.23

num_new = num_int + num_flo

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

Value of num_new: 124.23
datatype of num_new: <class 'float'>

# Strings

In [12]:
b = "Hello, World!"
print(b[2:5])

llo

In [14]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [13]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [14]:
a="a"
print(a,type(a))

a <class 'str'>

In [21]:
a="Bangladesh"
b="i live in"
c=a +b
print(c)

Bangladeshi live in

In [22]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [23]:
a=["abc","fgh"]
print(a[0])

abc

In [24]:
a={1,2,3}
print(a)

{1, 2, 3}

# Loops

In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [2]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [3]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Function

In [4]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [5]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

# Tuples

In [6]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [7]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Loop for showing numbers

In [8]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [9]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

# List

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [11]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

#

In [18]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!